Sphinx==3.3.0
m2r==0.2.1
sphinx-autodoc-typehints==1.10.3
recommonmark~=0.6.0
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
